* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

nav {
    background-color: rgb(4, 3, 3);
    display: flex;
    justify-content: space-between;
    padding: 0rem 3rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav .logo {
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .logo img {
    width: 50px;
}

nav div a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem 1rem;
    align-items: center;
}


nav ul li i {
   margin: 5px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color:white;
    padding: 5px;
    margin: 0px;
    
}

nav ul li a:hover {
    border-radius: 20px;
    background-color: aliceblue;
    color: black;
    transition: background-color 300ms;
}

#home {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    margin: 0;
}

#home .name {
    margin-bottom: 60px;
    font-size: 80px;
}
#home p {
    margin-top: 10px;
}
#home span {
    color: rgb(0, 162, 255)
}
main #home .home-left-content i {
    margin-right: 10px;
}
.home-left-content {
    padding: 2rem;
    font-size: 20px;
}

.home-right-content img {
    width: 28rem;
    margin-right: 100px;
    margin-top: 1rem;
}

#about {
    display: flex;
    justify-content: space-between;
}
.about-left img {
    width: 18rem;
    margin-left: 7rem;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-7px);
  }

  100% {
    transform: translateY(0px);
  }
}

.about-right {
    margin-top: 40px;
    text-wrap: wrap;
    margin-left: 20rem;
    margin-right: 10rem;
    font-size: 20px;
}

.about-right i {
    margin-right:5px;
}
.about-right p {
    margin-top: 1rem;
}
.about-right h3 span {
    color:rgb(0, 162, 255);
    font-size: 23px;
}
.about-right .location {
    background-color: rgb(238, 238, 238);
    display: inline-flex;
    align-items: center;
    border-radius: 15px;
    margin-top: 10px;
}
.about-right .location p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.about-right .availability {
    background-color: rgb(238, 238, 238);
    display: inline-flex;
    align-items: center;
    border-radius: 15px;
    margin-top: 10px;
}

.about-right .availability p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.skills-title {
    padding-left: 5rem;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 23px;
}
#skills i {
    margin-right: 5px;
}

#skills span {
    color: rgb(0, 162, 255);
}

#skills ul {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   gap: 3rem;
}

.skill-card {
    background-color: rgb(107, 198, 251);
    border-radius: 10px;
    padding: 1rem 2rem;
}
.skill-title {
    display: flex;
    align-items: center;
    gap: 5px;
}
.progress-container {
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    width: 300px;
    height: 8px;
}
.progress-fill-html {
    background-color: black;
    border-radius: 20px;
    width: 270px;
    height: 8px;
}
.progress-fill-css {
    background-color: black;
    border-radius: 20px;
    width: 250px;
    height: 8px;
}
.progress-fill-js {
     background-color: black;
    border-radius: 20px;
    width: 230px;
    height: 8px;
}
.project-title {
    margin-top: 100px;
    padding-left: 5rem;
    font-size: 23px;
}
.project-title i {
    margin-right: 5px;
}
.project-title span {
    color :rgb(0, 162, 255);
}
.project-list {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgba(0, 162, 255, 0.5)
}